.bg-img{
  margin: 0;
  padding-top: 20px;
  padding-bottom:20px;
  background: url(../img/senior1.jpg);
  background-size: cover;
  background-position: center;
}

.navbar-default{
  background-color: #0c0000;
  height: 60px;
  font-size: 24px;
}

.navbar-default .navbar-brand{
  color: #fffffff2;
  font-size: 24px;
}

.navbar-default .navbar-nav>li>a{
  color: #fffffff2;
}
.navbar {
    margin-bottom: 0;
}

.footer{
  background-color:#262626;
  height:31vh;
}
.footer-login{
  background-color:#262626;
  height:42vh;
}

.footer-text-header{
  color: #fffdfd;
}

.footer-text{
  color:#868e96;
}

.panel{
  margin-bottom:0px;
}
